<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.importer.repository.LogRepository">

    <insert id="saveStudentLog" parameterType="com.demo.importer.entity.LogEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO student_log (name, email, status_code, timestamp, status_message, source)
        VALUES (#{log.name}, #{log.email}, #{log.statusCode}, #{log.timestamp}, #{log.statusMessage}, #{log.source})
    </insert>

</mapper>
